{{> head }}

<body class="container">

    <div class="row d-flex justify-content-center">
        <div class="col-12" style="margin: 1em">
            <h3 class="text-center">Manilla S.O.S</h3>
        </div>
        <div class="card col-12 " style="width: 15rem;">
            <img src="./assets/img/old-man.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ capitalizar nombre}}</h5>
                <p class="card-text">{{descripcion}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">+593979615531</li>
                <li class="list-group-item">+593979615531</li>
                <li class="list-group-item">+593979615531</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Hacer llamada</a>
                <a href="#" class="card-link">Enviar Whatsapp</a>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="/public/assets/css/style.css"></script>
</body>

</html>

<!--<body class="container">

    <div class="row d-flex justify-content-center">
        <div class="col-12 text-center title">
            <h1 >Pulsera S.O.S</h1>
        </div>
        <div class="col-12">
            <img class="photo" src="./assets/img/old-man.jpg" alt="demo-adult">
        </div>
        <div class="col-12 info-card">
            <ul class="info text-center" style="list-style: none">
                <li>Nombres y Apellidos: <br><strong>{{ capitalizar nombre}} </strong></li>
                <li>Ciudad de Residencia: <br><strong>{{ciudad}}</strong></li>
                <li>Fecha de Nacimiento: <br><strong>{{fechaNac}}</strong></li>
            </ul>
        </div>
        <div class="col-12">
            <p>{{descripcion}}</p>
        </div>
    </div>
    -->